<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <div class="card shadow">
      <div class="card-body">
        <form
          action="/campgrounds"
          method="post"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              name="campground[title]"
              id="title"
              required
            />
            <div class="valid-feedback">Looks Good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              name="campground[location]"
              id="location"
              required
            />
            <div class="valid-feedback">Looks Good!</div>
          </div>
          <div class="form-file">
            <label class="form-file-label mb-3" for="image"
              >Upload Image(s)
            </label>

            <input
              type="file"
              name="image"
              id="image"
              class="form-fle-input mb-3"
              multiple
            />
          </div>

          <div class="mb-3">
            <label class="form-label text-left" for="description"
              >Description</label
            >
            <textarea
              class="form-control"
              name="campground[description]"
              id="description"
              cols="60"
              rows="5"
              required
            ></textarea>
            <div class="valid-feedback">Looks Good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price"> Campground Price</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="number"
                step="0.01"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                name="campground[price]"
                id="price"
                placeholder="0.00"
                required
              />
              <div class="valid-feedback">Looks Good!</div>
            </div>
          </div>
          <button class="btn btn-success mb-3">Add Campground</button>
        </form>
      </div>
    </div>
  </div>
</div>
